body {
    margin: 0;
    background-color: #eee;
    font-family: 'Menlo';
}

.App {
    width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.TodoList {
    background-color: #fff;
    padding: 20px;
    border: 2px solid;
}

.TodoItem {
    margin-bottom: 10px;
}

input[type='checkbox'] {
    margin-right: 10px;
}
